name: Release Workflow

on:
  push:
    branches:
      - release

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "8.0.x"
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.LOGIN_SERVER }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker-compose build

      - name: Run EF Core migrations
        run: |
          dotnet tool install --global dotnet-ef
          dotnet restore
          dotnet ef database update --verbose --configuration Release --project ./NSIProject.Infrastructure --startup-project ./NSIProject

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./NSIProject/Dockerfile
          push: true
          tags: sigidnumnsi.azurecr.io/nsi:v1
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Run Docker container
        run: docker run -d -p 8080:8080 sigidnumnsi.azurecr.io/nsi:v1
