name: Release Workflow

on:
  push:
    branches:
      - release

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
     - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.0.x'
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.LOGIN_SERVER }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker-compose build
          docker tag nsi-be-api:latest ${{ secrets.LOGIN_SERVER }}/my-image:${{ github.sha }}
          docker push ${{ secrets.LOGIN_SERVER }}/my-image:${{ github.sha }}

      - name: Run EF Core migrations
        run: |
          dotnet tool install --global dotnet-ef
          dotnet restore
          dotnet ef database update --verbose --project ./NSIProject.Infrastructure --startup-project ./NSIProject

      - name: Deploy to Azure Container Instances
        run: |
          az container create --name SigidnumNsi --image ${{ secrets.LOGIN_SERVER }}/my-image:${{ github.sha }} --registry-login-server ${{ secrets.LOGIN_SERVER }} --registry-username ${{ secrets.USERNAME }} --registry-password ${{ secrets.PASSWORD }} --resource-group Nsi || true
          az container restart --name SigidnumNsi --resource-group Nsi
