name: Release Workflow

on:
  release:
    types: [ published ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "8.0.x"
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.LOGIN_SERVER }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}

      - name: Run EF Core migrations
        run: |
          dotnet tool install --global dotnet-ef
          dotnet restore
          dotnet ef database update --verbose --configuration Release --project ./NSIProject.Infrastructure --startup-project ./NSIProject

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./NSIProject/Dockerfile
          push: true
          tags: sigidnumnsi.azurecr.io/nsi:v${{ github.event.release.tag_name }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
          
      - name: 'Deploy to Azure Container Instances'
        uses: 'azure/aci-deploy@v1'
        with:
          resource-group: Nsi
          dns-name-label: nsi-be-api
          image: sigidnumnsi.azurecr.io/nsi:v${{ github.event.release.tag_name }}
          cpu: 1   #Optional
          memory: 0.1   #Optional
          registry-username: ${{ secrets.USERNAME }}
          registry-password: ${{ secrets.PASSWORD }}
          name: nsi-be-api
          location: 'west us'

      
